[submodule "external/spectral-metric"]
	path = external/spectral-metric
	url = https://github.com/Dref360/spectral-metric.git
[submodule "external/umap"]
	path = external/umap
	url = https://github.com/lmcinnes/umap.git
[submodule "external/LLaVA"]
	path = external/LLaVA
	url = https://github.com/haotian-liu/LLaVA.git
[submodule "external/ULIP"]
	path = external/ULIP
	url = https://github.com/adidbdir/ULIP.git
